<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location</title>
</head>
<body>
    <h1>Hello From EJS!</h1>

    <div class="output">
    </div>

    <form action="./test" method="post">
        <input class="lat" type="hidden" name="lat">
        <input class="long" type="hidden" name="long">
    </form>
    <script defer src="./location2.js"></script>
</body>
</html>